<div class="container">
  <%= simple_form_for ([@listing, @booking]) do |f| %>
    <%= f.input :checkin, as: :date %>
    <%= f.input :checkout, as: :date %>
    <%= f.button :submit, class: "btn btn-primary btn-lg btn-block" %>
  <% end %>
</div>
<%= params %>